extends layout

block content

	link(rel='stylesheet', href='/stylesheets/style.css')
	
	ul#messages
	div#users
		input#usernameInput.form-control(type="textbox")
		ul#user-list
			
	div#composer
		button#sendButton.btn.btn-lg.btn-primary Send
		div(style='overflow:hidden;')
			input#messageInput.form-control(autocomplete="off")
		
	// socket.io
	script(src="https://cdn.socket.io/socket.io-1.2.0.js")

	// jQuery
	script(src="http://code.jquery.com/jquery-1.11.1.js")

	// bootstrap
	script(src="http://getbootstrap.com/dist/js/bootstrap.min.js")
	script(src="http://getbootstrap.com/examples/offcanvas/offcanvas.js")

	// cookie helper
	script(src="/scripts/js.cookie.js")

	// chat client
	script(src="/scripts/chat.js")
