doctype html
html
	head
		title chat

		// Bootstrap core CSS
		link(rel='stylesheet', href='http://getbootstrap.com/dist/css/bootstrap.min.css')

		// Custom styles for this template
		link(rel='stylesheet', href='http://getbootstrap.com/examples/offcanvas/offcanvas.css')

	body
		block content
