#users {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 60px;
	width: 200px;
	background-color: aliceblue;
	padding: 5px;
}
#user-list {
	overflow: scroll;
}
#composer {
	position:absolute;
	bottom:0;
	padding:5px;
	width:100%;
	background-color: bisque;
}
#composer .form-control {
	height: 46px;
}
#composer .btn {
	margin-left: 5px;
	float:right;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}
#messages {
	background-color: beige;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 205px;
	bottom: 60px;
	overflow: scroll;
}
#messages li {
	border-radius: 4px;
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}